@{
    ViewData["Title"] = "Home Page";
}

@model FoodSpace.Data.SearchCriteria

<body class="body">
    
    <div>
        <div class="recipe-body-image" style="">
        </div>
        <div class="container">
            <form asp-controller="Recipe" asp-action="Index" method="post" style="position:relative; justify-content:center; display:flex; width:100%; height:50%;">

                <div class="home-search">
                    <h1 class="home-search-heading">Search Recipes</h1>

                    <div style="display:flex; width:100%; justify-content:center; padding-left:20%; padding-right:20%;">
                        <div style="position:relative; width:100%;">
                            <input class="home-search-input" asp-for="criteria" autocomplete="off" >
                            <button type="submit" class="home-search-button" style=""><i class="bi bi-search"></i></button>
                            </div:>

                        </div>


                        <span asp-validation-for="criteria" class="text-danger"></span>
                    </div>
            </form>
        </div>
    </div>
    
        
</body>