@{
    ViewData["Title"] = "Home Page";
}

@model FoodSpace.Data.SearchCriteria

<div class="text-center">

    <form asp-controller="Item"  asp-action="SearchItem" method="post">
        <div class="form-group mb-3">

            <label asp-for="criteria" class="control-label" style="font-size:80px;"></label>
            <input asp-for="criteria" class="form-control" />
            <span asp-validation-for="criteria" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <Button type="submit" class="btn btn-primary" style="width:150px">Search</Button>
        </div>
     </form>

    
</div>
