@model FoodSpace.Models.ItemRecipe

<div class="row">
    <div class="col-md-4">
        <h1 style="margin-top:10px;">@Model.Recipe.Name</h1>
        <form method="post" asp-action="AddToRecipePOST">
            <input asp-for="ItemId" value="@Model.ItemId" hidden />
            <input asp-for="RecipeId" value="@Model.RecipeId" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group mb-3">
                <label asp-for="Item.Name"></label>
                <input asp-for="Item.Name" disabled class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" value="@Model.Item.ServingSize" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <Button type="submit" class="btn btn-success mx-2" style="width:150px"><i class="bi bi-box-arrow-in-down"></i>Add To Recipe</Button>
                <a asp-controller="Item" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}