@model FoodSpace.Data.SearchCriteria

<body class="body">
    <div class="recipe-body-image" style="">
    </div>
    <div class="container">
        <div class="container-blank">

            <div class="text-center" style="">

                <form asp-controller="Item" asp-action="SearchItem" method="post">
                    <div class="form-group mb-3">

                        <label asp-for="criteria" class="control-label" style="font-size:80px;">Import</label>
                        <input asp-for="criteria" class="form-control" />
                        <span asp-validation-for="criteria" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <Button type="submit" class="btn btn-primary" style="width:150px">Search</Button>
                    </div>
                </form>
        </div>
             


        </div>
    </div>
</body>

