@using Microsoft.AspNetCore.Authentication.AzureAD.UI
@using Microsoft.Extensions.Options

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IOptionsMonitor<AzureADOptions> AzureADOptions

<ul class="navbar-auth">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="navbar-auth-text">
            <a class="navbar-auth-text" asp-controller="Profile" asp-action="Index">@User.Identity.Name</a>
        </li>
        <li class="navbar-auth-text">
                <form id="logoutForm" method="post" asp-controller="Profile" asp-action="Logout" asp-route-returnUrl="/">
                <button type="submit" class="navbar-auth-text">Logout</button>
                </form>
        </li>

    }
    else
    {
        <li class="navbar-auth-text">
            <a class="navbar-auth-text" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="Signin">Login</a>
        </li>
    }
    
</ul>