@model IEnumerable<Recipe>


<h1>Recipe Index</h1>

<partial name="_Notification" />


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Recipe List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="DynamicRecipe" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Recipe
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%; table-layout: fixed ;">
    <thead>
        <tr>
            <th>
                <a asp-controller="DynamicRecipe" asp-action="Index" asp-route-sortOrder="nameSort">Recipe</a>
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody mb-200px>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Desc
                </td>
                <td>
                    <div class="btn-group" role="group" style="max-width:70px">
                        <a asp-controller="DynamicRecipe" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil"></i>Edit</a>
                        <a asp-controller="DynamicRecipe" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-warning mx-2"><i class="bi bi-trash"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>